body {

  background-color:lightblue;
  }     }
  @media only screen and (max-width: 600px) 
  body background-color: ;
  

}

h1 {
  color: ;
  text-align: left;
  font-size: 20px; 
    background-size: 
}

#komf {

  }
}
}

h2 {
	color: orange;
font-size: 8px;
 }
p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

a{
  font-size: 30px;
  color:  red ;
  padding: %;
  text-align: left;
}
label {
  font-size: 30px;
  text-decoration-color: purple;
  ::before
  content: AUTO 

  
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: orange;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: lightblue;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: slategrey;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 1000px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}