body {

  background-color:lightblue;
  }     }
  @media only screen and (max-width: 600px) 
  body background-color: ;
  

}

h1 {
  color: ;
  text-align: left;
  font-size: 20px; 
}

#komf {
  }

h2 {
  color: orange;
  text-align: center;
  font: serif;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  
}

a{
  font-size: 30px;
  color:  orange ;
  padding: %;
  text-align: left;
  background-color: steelblue;
  border-radius: 10px;
}
label {
  font-size: 30px;
  text-decoration-color: purple;
  ::before
  content: AUTO 

  
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 300%;
  color: orange;
  font: serif;

}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: lightblue;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color:steelblue;
  padding: 30px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 1000px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}