body {
  background-color:black;
}

h1 {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 250%;
}
a {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 250%;
  padding: 30%;
}
h2 {
  text-decoration-line: underline;
  color: white;
  font-family: verdana;
  font-size: 25px;
}

h3 {
  color: white;
  font-family: verdana;
  font-size: 25px;
}

h4 {
  color: white;
  font-family: verdana;
  font-size: 10px;
}

p {
  font-family: verdana;
  background-color: slategray;
  font-size: 25px;
  color: black;
}

footer {
  background-color:#777;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 15px;
}