body {
  background-color:lightblue;
}

h1 {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 600%;
}
a {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 500%;
  padding: 30%;
}
h2 {
  text-decoration-line: underline;
  color: black;
  font-family: verdana;
  font-size: 500%;
}

h3 {
  color: black;
  font-family: verdana;
  font-size: 500%;
}

h4 {
  color: black;
  font-family: verdana;
  font-size: 500%;
}

p {
  font-family: verdana;
  
  font-size: 500%;
  color:black;
  background-color: steelblue;
}

footer {
  background-color:lightsteelblue;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 100%;
}

img {
text-align: center;
}

