body {
  background-color:lightblue;
}

h1 {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 250%;
}
a {
  color: orange;
  text-align: center;
  font-family: verdana;
  font-size: 250%;
  padding: 30%;
}
h2 {
  text-decoration-line: underline;
  color: black;
  font-family: verdana;
  font-size: 25px;
}

h3 {
  color: black;
  font-family: verdana;
  font-size: 25px;
}

h4 {
  color: black;
  font-family: verdana;
  font-size: 15px;
}

p {
  font-family: verdana;
  
  font-size: 25px;
  color:black;
  background-color: steelblue;
}

footer {
  background-color:lightsteelblue;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 5px;
}